footer
  .l-container.l-container__footer
    .l-footer__left
      h3 Get in Touch
      form.form
        input.form--input(type="text" name="full-name" placeholder="Full Name" required)
        input.form--input(type="email" name="email" placeholder="Email" required)
        textarea.form--message(name="message" placeholder="Message" required)
        input(type="submit" value="Send Message").btn.btn--square.form--submit
    .l-footer__right
      section.other
        h3 Other Links
        ul
          li
            a(href="#") Privacy Policy
          li
            a(href="#") Terms of Use
          li
            a(href="#") Careers
      section.social
        h3 Follow Us
        ul.social--list
          li
            a(href="#").social--icon
              i.icon-twitter
          li
            a(href="#").social--icon
          li
            a(href="#").social--icon
              i.icon-facebook
          li
            a(href="#").social--icon
              i.icon-instagram
          li
            a(href="#").social--icon
              i.icon-youtube
