header.slider__container
  -
    var slides = [
      {
        src: "images/slide-1.png",
        alt: "",
        caption: "<span class='sub'>Engage in</span> <br /> the Venice Gondola Experience",
        index: "0"
      },
      {
        src: "images/slide-2.png",
        alt: "",
        caption: "20% Off Day Tours*",
        small: "*Discount only applies to weekends from 12pm-5pm",
        index: "1"
      },
      {
        src: "images/slide-3.png",
        alt: "",
        caption: 'Book A Tour <br/>The Grand Canal',
        index: "2"
      },
    ]
  each slide in slides
    .slider__slide(data-slide=slide.index style="background: #241e59 url(" + slide.src + ") no-repeat right top; background-size: cover;")
      .slider__caption(class="slider__caption--" + slide.index)
        h1 !{slide.caption}
        if !!slide.small
          small.small !{slide.small}
  .slider__nav
    each slide in slides
      .slider__nav--item(data-nav=slide.index)
