header.slider__container
  -
    var slides = [
      {
        src: "images/slide-1.png",
        alt: "",
        caption: "<span class='sub'>ENGAGE IN</span> <br /> THE VENICE GONDOLA EXPERIENCE",
        index: "0"
      },
      {
        src: "images/slide-2.png",
        alt: "",
        caption: "20% Off Day Tours* <br><span class='small'>*Discount only applies to weekends from 12pm-5pm</span>",
        index: "1"
      },
      {
        src: "images/slide-3.png",
        alt: "",
        caption: 'Book A Tour <br/>The Grand Canal',
        index: "2"
      },
    ]
  each slide in slides
    .slider__slide(data-slide=slide.index style="background: #241e59 url(" + slide.src + ") no-repeat right top; background-size: cover; left: 0;")
      .slider__caption(class="slider__caption--" + slide.index)
        h1 !{slide.caption}
  .slider__nav
    each slide in slides
      .slider__nav--item(data-nav=slide.index)
