/*----------------------  Base  ----------------------
  /**
    * Base syntax should not contain any classes, id or use attribute selectors of any kind.
    * Resets or basic styles for elements belong here
    *
    * Example:
    *
    * header { ... }
    *
    *
/*----------------------  End Base  ----------------------
@use "vars"
*
  box-sizing: border-box
  &:before, &:after
    box-sizing: inherit
  &::selection
    background: $primary
    color: vars.$white

html
  font-size: 92%
@media (min-width: vars.$medium)
  html
    font-size: 96%
@media (min-width: vars.$large)
  html
    font-size: 100%
body
  font: vars.$weight-book vars.$text-sm vars.$futura
  line-height: 1.2
  color: vars.$black
h1
  font: vars.$weight-bold vars.$text-lg vars.$bodoni
  //line-height: 0.6
  color: vars.$white
  @media screen and (min-width: vars.$medium)
    font: vars.$weight-bold vars.$text-lg vars.$bodoni
h2, h3
  font: vars.$weight-medium vars.$text-md vars.$bodoni
  color: vars.$secondary
  margin: 1.5rem 0
a
  color: vars.$primary-light
  text-decoration: none
  font-weight: vars.$weight-medium
  text-transform: uppercase
ul
  margin: 0
  padding: 0
  li
    list-style: none
img
  +size(100%)
nav
  background: vars.$white
  padding: 1rem 0
  height: 55%

  @media screen and (min-width: vars.$medium)
    height: initial
p
  margin: 0
  padding: 0
button, input, select
  padding: 0
  margin: 0
  border: none
  font: inherit
  color: inherit
  background: none
footer
  width: 100%
  background: url(../images/footer.jpg), linear-gradient(0deg, rgba(60,10,153,1) 0%, rgba(60,10,153,0.6) 100%)
    size: cover
  padding: 1rem 0
main
  margin: 2rem 0
footer
  margin-top: 2rem
