doctype html
html(lang="en")
  head
    title Gondola Tours - Tours
    meta(charset="utf-8")
    meta(name="Author" content="Manuel Osorio")
    meta(name="description" content="Gondola Tours is company based in Venice, Italy providing tours around the Venice Canals.")
    
    // Open Graph - Facebook, Google, LinkedIn
    meta(property="og:type" content="Website")
    meta(property="og:description" content="Gondola Tours is company based in Venice, Italy providing tours around the Venice Canals.")
    meta(property="og:image" content="images/hero-social.jpg")
    meta(property="og:url" content="http://valenciawebstudio.com/misicka2724/students/osorio/p3/")
    meta(property="og:site_name" content="Gondola Tours")
    //end Open Graph

    //Twitter Meta Content
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content="Gondola Tours")
    meta(property="twitter:description" content="Gondola Tours is company based in Venice, Italy providing tours around the Venice Canals.")
    meta(property="twitter:image" content="images/hero-social.jpg")
    meta(property="twitter:site" content="http://valenciawebstudio.com/misicka2724/students/osorio/p3/")
    meta(property="twitter:creator" content="@MKDesignzManuel")
    //End Twitter Meta Content

    meta(name="robots" content="noindex, nofollow")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    
    link(rel="stylesheet" href="css/style.css")
    link(rel="preload" as="font" href="./fonts/bodoni/BodoniURW-Med.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="./fonts/bodoni/BodoniURWNar-Bol.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="./fonts/futura/Futura-Boo.woff" type="font/woff" crossorigin="anonymous")
      
    //Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='./images/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon-16x16.png')
    link(rel='manifest' href='./images/site.webmanifest')
    link(rel='mask-icon' href='./images/safari-pinned-tab.svg' color='#e0af25')
    meta(name='msapplication-TileColor' content='#e0af25')
    meta(name='theme-color' content='#e0af25')

  body
    - var current = "tours.html"
    include includes/nav.pug
    main.l-container
      section
        h2 Day Tours
        ul.cards
          li.card.l-column--4
            a(href="#")
              .card--image
                img(src="./images/tours-day-1.jpg" alt="Alt text")
              .sub-card
                .card--info
                  h3.card--info__title Tour Name
                  P.card--info__other-info Starting at $80
                .card--description
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          li.card.l-column--4
            a(href="#")
              .card--image
                img(src="./images/day.jpg" alt="Alt text")
              .sub-card
                .card--info
                  h3.card--info__title Tour Name
                  P.card--info__other-info Starting at $80
                .card--description
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      section
        h2 Morning/Evening Tours
        ul.cards
          li.card.l-column--4
            .card--image
              img(src="./images/evening.jpg" alt="Alt text")
            .sub-card
              .card--info
                h3.card--info__title Morning Tour
                P.card--info__other-info Starting at $120
              .card--description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          li.card.l-column--4
            a(href="#")
              .card--image
                img(src="./images/evening-2.jpg" alt="Alt text")
              .sub-card
                .card--info
                  h3.card--info__title Evening Tour
                  P.card--info__other-info Starting at $120
                .card--description
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    include includes/footer.pug
    include includes/scripts
